body {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#display {
  height: 30px;
  width: 500px;
  font-size: 1.2rem;
  margin: 10px;
  margin-bottom: 20px;
}

.calculator {
  background-color: rgb(49, 87, 91);
  height: 300px;
  width: 700px;
}

.button-container {
  display: flex;
  gap: 20px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 50px;
  width: 200px;
  /* margin-bottom: 20px; */
  margin: 10px;
}

.operators {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100px;
  width: 200px;
  /* margin-bottom: 20px; */
  margin: 10px;
}

.scientific {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 200px;
  /* margin-bottom: 20px; */
  margin: 10px;
}

.clear-button {
  height: 30px;
  width: 70px;
  font-size: 1.2rem;
  margin: 10px;
  margin-bottom: 20px;
}

button {
  font-size: 20px;
}

.filler_button1 {
  background-color: transparent;
  opacity: 0.5%;
  border: none !important;
  font-size: 0;
}
